.button-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background: #e8cdb6;
  color: black;
  border: none;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border-radius: 35px;
  margin: 10px;
}

.button:hover {
  background: black;
  color: white;
}
